{% extends "base.html" %}
{% block content %}

<style>
    .review-list {
        width: 100%;
    }
    main {
        max-width: 60vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<main>
    
    {% if user.is_authenticated and not show_all %}
        <h1>Reviews by users you follow</h1>
    {% else %}
        <h1>Recent Reviews</h1>
    {% endif %}
    
    <ul class="review-list">
        {% for review in reviews %}
            <li>
                {% include "components/review.html" with review=review is_self=False %}
            </li>
        {% empty %}
            <li>No reviews to show.</li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <div class="toggle-button">
            {% if show_all %}
                <a href="{% url 'home' %}" class="btn btn-secondary">Back to My Feed</a>
            {% else %}
                <a href="{% url 'home' %}?all=1" class="btn btn-primary">Show All Reviews</a>
            {% endif %}
        </div>
    {% endif %} 
</main>

{% endblock %}