
{% extends "base.html" %}

{% block content %}
<style>
    main {
        padding-inline: 80px;
    }
</style>
<main>
    <form method="get">
        <span>Search: </span>
        <input type="text" name="q" placeholder="Search by name" value="{{ query }}">
    </form>

    {% if query %}
        <h2>Users matching '{{ query }}'</h2>
        {% if results %}
            <ul>
                {% for user in results %}
                    <li class="container">
                        <a href="{% url 'public_profile' user.id %}">{{ user.full_name }}</a>
                        <p>Reviews: {{ user.review_set.count }}</p>
                        <p>Followers: {{ user.followers.count }}</p>
                        <p>Following: {{ user.following.count }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No matching users found.</p>
        {% endif %}
    {% endif %}
</main>
{% endblock %}